<a href="https://colab.research.google.com/github/nicochang7631/change/blob/main/2022_01_07_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def get_fahrehits(*args):
  fahrehits = []
  for i in args:
    f = i * 9/5 +32
    fahrehits.append(f)
  return fahrehits

get_fahrehits(18,2,5,12)

[64.4, 35.6, 41.0, 53.6]

In [6]:
#use zip
release_years = [2012, 2015, 2018, 2019]
the_avenger_movies = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
for y, movie in zip(release_years, the_avenger_movies):
    print("{} 上映年份 {}".format(movie, y))

The Avengers 上映年份 2012
Avengers: Age of Ultron 上映年份 2015
Avengers: Infinity War 上映年份 2018
Avengers: Endgame 上映年份 2019

In [14]:
#use zip + enumeate
years = [1995,1996,1997,1998]
name = ['Nico','Harper','Chris','Kisy']

for i,(y,n) in enumerate(zip(years,name)):
  print("{} {},出生於 {}".format(i,n,y))

0 Nico,出生於 1995
1 Harper,出生於 1996
2 Chris,出生於 1997
3 Kisy,出生於 1998

In [16]:
# list comprehension

is_even_number = [True if i % 2 == 0 else False for i in range(10)]
print(is_even_number)

[True, False, True, False, True, False, True, False, True, False]

In [18]:
kilometers = [1.6, 3, 5, 10, 21.095, 42.195]
mile = [i*0.62137 for i in kilometers ]
print(mile)

[0.994192, 1.86411, 3.1068499999999997, 6.213699999999999, 13.10780015, 26.21870715]